# Environment variables
.env
.env*

# Rust build artifacts
target/
debug/
release/
*.rs.bk
*.rlib

# Profiling data
*.prof*

# IDE files
.idea/
*.iml
.vscode/

# Logs
*.log

# Database files
*.sqlite3
*.sqlite3-journal
*.db

# macOS
.DS_Store

# Temporary files
*.tmp
*.swp
*~
